<section class="gradient-background">



  <div id="cards_landscape_wrap-2">
    <div class="container">
      <div class="row">
        <!-- Iterate over recipes -->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let recipe of recipes">
          <div class="card-flyer" (click)="openModal(recipe)">
            <div class="image-box">
              <img [src]="recipe.imageUrl" alt="{{recipe.name}}" class="grayscale-image" />
              <div class="title-overlay">{{ recipe.name }}</div> <!-- Title Overlay -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-recipe-modal [showModal]="showModal" [selectedRecipe]="selectedRecipe"
    (closeModalEvent)="handleModalClose($event)">
  </app-recipe-modal>