<svg class="wave-top" viewBox="0 0 1200 250">
  <path fill-rule="evenodd" clip-rule="evenodd"
    d="M0 108.306L50 114.323C100 120.34 200 132.374 300 168.476C400 204.578 500 264.749 600 246.698C700 228.647 800 132.374 900 108.306C1000 84.2382 1100 132.374 1150 156.442L1200 180.51V-8.5451e-06H1150C1100 -8.5451e-06 1000 -8.5451e-06 900 -8.5451e-06C800 -8.5451e-06 700 -8.5451e-06 600 -8.5451e-06C500 -8.5451e-06 400 -8.5451e-06 300 -8.5451e-06C200 -8.5451e-06 100 -8.5451e-06 50 -8.5451e-06H0V108.306Z"
    fill="#FF321A" />
</svg>

<div id="cards_landscape_wrap-2">
  <div class="container">
    <div class="row">
      <!-- Iterate over recipes -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let recipe of recipes">
        <div class="card-flyer" (click)="openModal(recipe)">
          <div class="text-box">
            <div class="image-box">
              <img [src]="recipe.imageUrl" alt="" />
            </div>
            <div class="text-container">
              <h6>{{ recipe.name }}</h6>
              <p>{{ recipe.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-recipe-modal [showModal]="showModal" [selectedRecipe]="selectedRecipe" (closeModalEvent)="handleModalClose($event)"
  (recipeDeletedEvent)="onRecipeDeleted($event)">
</app-recipe-modal>