<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Recipe Name</mat-label>
        <input matInput formControlName="name" placeholder="Recipe Name">
      </mat-form-field>

 <mat-form-field appearance="fill">
    <mat-label>Recipe Description</mat-label>
    <input matInput formControlName="description" placeholder="Recipe Description">
 </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Recipe Instructions</mat-label>
        <input matInput formControlName="instructions" placeholder="Recipe Instructions">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Recipe Ingredients</mat-label>
            <input matInput formControlName="ingredients" placeholder="Recipe Ingredients">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Image URL</mat-label>
                <input matInput formControlName="imageUrl" placeholder="Image URL">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid">Add Recipe</button>
            
            </form>