<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

  <div>
    <input type="text" formControlName="name" id="name" placeholder="Enter recipe name" class="large-input">
  </div>

  <div>

    <editor formControlName="details"></editor>
  </div>

  <div>
    <input type="text" formControlName="imageUrl" id="imageUrl" placeholder="Enter image URL" class="large-input">
    <div *ngIf="recipeForm.get('imageUrl')?.errors?.['invalidUrl']">
      Please enter a valid image URL.
    </div>
  </div>

  <button type="submit" [disabled]="!recipeForm.valid">Add Recipe</button>
</form>