<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Recipe Name</label>
<input type="text" formControlName="name" id="name" placeholder="Recipe Name">
    </div>

    <div>
        <label for="description">Recipe Description</label>
        <textarea formControlName="description" id="description" placeholder="Recipe Description"></textarea>
    </div>

    <div>
        <label for="instructions">Recipe Instructions</label>
        <textarea formControlName="instructions" id="instructions" placeholder="Recipe Instructions"></textarea>
    </div>

    <div>
        <label for="ingredients">Recipe Ingredients</label>
        <textarea formControlName="ingredients" id="ingredients" placeholder="Recipe Ingredients"></textarea>
    </div>

    <div>
        <label for="imageUrl">Image URL</label>
        <input type="text" formControlName="imageUrl" id="imageUrl" placeholder="Image URL">
        <div *ngIf="recipeForm.get('imageUrl')?.errors?.['invalidUrl']">
            Please enter a valid image URL.
          </div>
      </div>

    <button type="submit" [disabled]="!recipeForm.valid">Add Recipe</button>