/* CSS */
form {
  max-width: 600px;
  margin: 20px auto;
  margin-top: 100px;
  padding: 20px;
  z-index: 10;
  position: relative;
  background: white;
  padding-bottom: 20px;
}

  
.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.text-editor-container {
  /* Only style related to the editor itself */
  padding-bottom: 20px;
}
  
  button {
    margin-top: 10px;
  }
  
 
  .large-input {
    width: 100%;
    padding: 8px;
  }
  
  @media (max-width: 768px) {
    .text-editor-container {
      padding-bottom: 20px;
      max-height: calc(100vh - 100px);
    }
    form {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  