/* CSS */
form {
  max-width: 600px;
  margin: 20px auto;
  margin-top: 100px;
  padding: 20px;
  z-index: 10;
  position: relative;
  background: white;
  padding-bottom: 20px;
}

  
.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.text-editor-container {
  /* Only style related to the editor itself */
  padding-bottom: 20px;
}
  
button[type="submit"] {
  background-color: #3498db; /* Blue background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10px;
  display: inline-block; /* Aligns button properly */
}

button[type="submit"]:hover {
  background-color: #2874a6; /* Slightly darker blue on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

button[type="submit"]:disabled {
  background-color: #7f8c8d; /* Greyed out when disabled */
  cursor: not-allowed;
}
  
 
  .large-input {
    width: 100%;
    padding: 8px;
  }
  
  @media (max-width: 768px) {
    .text-editor-container {
      padding-bottom: 20px;
      max-height: calc(100vh - 100px);
    }
    form {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  