form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    form {
      padding: 10px;
    }
  }

  .form-error {
    color: #d32f2f;
    margin-top: 5px;
    font-size: 0.8rem;
  }
  
  .large-input {
    width: 100%; /* Set the input field width to 100% of its container */
    padding: 8px; /* Add some padding for spacing */
  }