<div class="modal" *ngIf="showModal" (click)="onBackdropClick($event)">
    <div class="modal-container">
        <span class="close-button" (click)="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="modal-image-container">
                <img [src]="selectedRecipe?.imageUrl" alt="Recipe Image">
            </div>
            <div class="modal-text-container">
                <h2>{{ selectedRecipe?.name }}</h2>
                <div [innerHTML]="selectedRecipe?.details"></div>
                <button class="edit-button" (click)="toggleEdit()">Edit Recipe</button>
                <div #editor *ngIf="showEditForm">
                    <app-edit-recipe [selectedRecipe]="selectedRecipe" (updateSuccess)="onRecipeUpdated()"
                        (deletionSuccess)="closeModal()"></app-edit-recipe>
                </div>
            </div>
        </div>
    </div>