.navbar {
    position: relative; /* Add this to establish a stacking context */
    z-index: 3; /* Set a higher z-index for the navbar */
  }
  
.btn-primary {
    background-color: #E200F7;
    color: #fff;
    &:hover {
        background-color: #450EFF;
        border-color: #b77df5;
    }
    &:focus {
        background-color: #b77df5;
        border-color: #b77df5;
    }
}

.btn-success {
    background-color: #E200F7;
    color: #fff;
    &:hover {
        background-color: #450EFF;
        border-color: #376969;
    }
    &:focus {
        background-color: #b77df5;
        border-color: #b77df5;
    
    }
}