.navbar {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* If the navbar is fixed or absolute positioned, add: */
.navbar {
  position: static;
}

  .gradient-background, .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  z-index: 1; /* Lowest layer */
}


.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Above the gradient background */
}
