<div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
</div>
<div *ngIf="!isLoading">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div *ngIf="isAuthenticated">
        <!-- Back Button for add-recipe component -->
        <a id="recipesButton" class="btn btn-primary" *ngIf="currentUrl === '/add-recipe'"
            (click)="onRecipesClick()">Back</a>

        <!-- Logout Button (hidden in add-recipe component) -->
        <button id="logoutButton" class="btn btn-danger" *ngIf="currentUrl !== '/add-recipe'" (click)="onLogoutClick()">
            <i class="fas fa-sign-out-alt"></i> Logout </button>

        <!-- Add Recipe Button -->
        <a id="addRecipeButton" class="btn btn-success" *ngIf="currentUrl === '/recipes'" (click)="onAddRecipeClick()">
            <i class="fas fa-plus"></i> Add</a>
    </div>
</div>