/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto; /* Allow scrolling */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px; /* Base font size */
  line-height: 1.5; /* Base line height */
  overflow-x: auto; /* Hide horizontal scrollbar */
}


/* Adjust font size and line height for smaller screens */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.content-wrapper {
  flex: 1;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

/* Hoverable Effects - Modified for better touch interactions */
.hoverable {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: transform 0.3s;
}

.hoverable:before {
  content: '';
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(148, 172, 159, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition: transform 0.3s, opacity 0.3s;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}


/* Bounce Animation */
@keyframes bounce-animation {
  /* ... your existing keyframes ... */
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

/* Media Query for Navigation Bar - Adjusted for better mobile display */
@media (max-width: 768px) {
  .navbar {
    text-align: center !important;
    float: none;
    display: block; /* Change to block for mobile */
  }

  /* Add mobile-specific navigation styles here */
  nav {
    background: none !important;
    text-transform: uppercase;
  }

  nav li {
    margin: 1em; /* Adjust margin for smaller screens */
  }

  nav a {
    transition: 0.5s color ease-in-out;
  }
}

/* Additional Styles */
.page-title {
  opacity: 0.75 !important;
}

.love-message {
  position: fixed;
  right: 20px; /* Adjust as needed */
  bottom: 20px; /* Adjust as needed */
  font-size: 12px; /* Small font size */
  color: #faf8f8; /* Subtle color */
  z-index: 10; /* Ensure it's above other content */
  margin: 0;
}

/* If you have more styles, adjust them as needed for responsiveness */

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

.floating-buttons .btn {
  display: block;
  margin-bottom: 10px;
  /* You can add more styling here as needed */
}

.btn-primary {
  background-color: #f4f4f4;
}
